[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "*"

[packages]
"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
Pillow = "*"
dj-database-url = "*"
django-taggit = "*"
six = "*"
social-auth-app-django = "*"
sorl-thumbnail = "*"
whitenoise = "*"
redis = "*"
django-crispy-forms = "*"
request = "*"


[dev-packages]
